<style>
*{
    margin: 0px;
    padding: 0px;
}

a{
    size: 35px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}
.nav{
    /* border: 2px solid red;  */
    /* width: fit-content; */
}
.nav1{
    width: fit-content;
    /* border: 2px solid blue; */
    height: 32px;
    margin: 10px auto;
    padding: 10px auto;
}
.nav1 h4{
    color: #820068;
    font-size: 32px;
}
.nav1 h4:hover{
    text-decoration: underline;
}
.nav2{
    width: 12%;
    border-right: 3px solid purple;
    height: 12vh;
    float: left;
    clear: left;
}
.nav2 :hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.text{
    color: rgb(0, 0, 0);
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
body{
    background-color:rgb(61, 45, 0);
    background-image: url("i2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.img{
    /* background-color:#316578; */
    text-align: right;
    /* float: right;
    clear: right; */
}
.link{
    float: right;
    clear: right;
    height: 23vh;
    /* border: 2px solid red; */
    position: sticky;
}
.link a:hover{
    position: static;
    text-decoration: underline;
    color: violet;
}
.link a{
    margin: 10px;
    padding: 5px;
}
.nav2 a:hover{
    background-color: lightblue;
    border-radius: 5px;
    transition: 450ms;
    color: black;
}
.nav2 a{
    color:cyan;
    font-size: 29px;
    font-weight: bold;    
}